body {
    font-family: 'Roboto', sans-serif;
    width: 600px;
    border: 1px solid violet;
    padding: 30px;
}
ul li a{
    color:red;
}
ul li:hover{
    transform: scale(1.01);
    transition: ease 0.3s;
}
div {
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    border-radius: 3px;
    text-align: center;
    
}
div a{
    color:green;
}
.div3 a{
    color:#c55;
}
div:hover{
    transform: scale(1.01);
    transition: ease 0.5s;
    background-color:rgba(204, 85, 85, 0.13);
}
h1:active{
    color:red;
}
h2{
    border-bottom: 2px solid greenyellow;
    text-align: center;
}
