body{
    padding: 0px;
    margin: 10px;
}
* {
    box-sizing: border-box;
}
header,footer{
    border:3px solid greenyellow;
    margin-bottom: 8px;
    left: 0px;
    text-align: center;
    line-height: 30px;
    bottom: 0px;
    width: 100%;
}
.container{
    margin:4px;
    border: 2px solid green;
    width:calc(100%-2%);
    height: 250px;
    overflow: scroll;
}


nav{
    border: 3px solid purple;
    width:20%;
    min-width: 150px;
    padding: 0px 0px 0px 0px;
    float: left;

}
section{
    border: 3px solid orange;
    margin-left: 4px;
    padding: 10px;

} 
div{
    padding: 0px;
    top: 0px;
    float: right;
    width: 80%;
    min-width: 40;
    margin: 0px;

}
nav ul li{
    padding: 2px;
}
nav ul li a{
    text-decoration: none;
    color: blueviolet;
}
