h1{
    border: 2px solid red;
    background-color: #6a6;
    padding: 10px;
}
ul  {
    margin: 15px;
    background-color: #de1e7e;
}
p{
    width: 500px;
    height: 300px;
    border:2px dotted black;
    background-color: #fb1;
}
a{
    border-bottom: 1px dashed blue;
    background-color: #a1a1a1;
}
