body {
    color: brown;
    font-family: 'Roboto', sans-serif;
    font-size: 20px !important;


}
.class1 h1 {
    font-weight: 300;
    font-size: 20px;
}
.class2 span{
    color:black;
    font-family: 'Courier New', Courier, monospace;
}
.class2  [href]{
    color:green;
}
